{% load static %}

{% for project in projects %}
<a href="{{ project.get_absolute_url }}" class="text-decoration-none">
<div class="card border-0 pb-3 pb-sm-5">
    <div class="row">
        <div class="col-8">
            <div class="card-body p-0">
                <div class="pb-2 text-body infscroll-author">
                    {% if project.author.first_name %}
                        <div class="d-flex justify-content-between">
                            <div>{{ project.author.first_name }} {{ project.author.last_name }}</div>
                            <div class="text-muted infscroll-date pe-5">{{project.updated_at|date:"M d"}}</div>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-between">
                            <div>{{ project.author }}</div>
                            <div class="text-muted infscroll-date pe-5">{{project.updated_at|date:"M d"}}</div>
                        </div>
                    {% endif %}
                </div>
                <h1 class="mb-1 text-body fw-bold infscroll-title">{{project.title|truncatechars:80}}</h1>
                <h2 class="text-muted fs-6 d-none d-sm-block">{{project.subtitle}}</h2>
                <div class="text-muted fs-6 d-none d-sm-block">Tags:
                    {% for tag in project.tags.all %}
                        {% if forloop.last %}
                            <span class="text-muted">{{ tag.name }}</span>
                        {% else %}
                            <span class="text-muted">{{ tag.name }},</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4">
            {% if project.project_img %}
                <img src="{{ project.project_img.url }}" class="img-fluid float-end">
            {% else %}
                <img src="{% static 'portfolio_blog/projects/default-project.png' %}" class="img-fluid float-end">
            {% endif %}
        </div>
    </div>
</div>
</a>
{% endfor %}

{% if page_obj.has_next %}
<div id="load-more-container"
    hx-get="{% url 'homepage' %}?page={{ page_obj.next_page_number }}&filter_field={{ request.GET.filter_field|default:'' }}"
    hx-trigger="revealed"
    hx-swap="outerHTML"
    hx-target="#load-more-container"
    class="text-center fs-4">
    Loading more...
</div>
{% endif %}